body{
  
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
}

#main-header > .about-me {

  box-sizing: border-box;

  padding: 2em;  
}

  #main-header > .about-me > .name {

    font-family: 'Exo', sans-serif;
    font-size: 2em;
  }

  #main-header > .about-me > .title {

    font-family: 'Exo', sans-serif;
    font-size: 1.2em;
    color: #444;
  }

  #main-header > .about-me > .intro {

    font-family: 'Exo', sans-serif;
    text-align: center;
    width: 85%;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
  }

    #main-header > .about-me > .intro > p {

      margin-top: 1.8em;
      font-size: 1.75em;
      margin-bottom: 0.25em;
    }

    #main-header > .about-me > .intro > p.subtext {

      color: #444;
      font-weight: 900;
      font-size: 1.45em;
      margin-top: .25em;
      font-family: 'Allura', cursive;
    }

    #main-header > .about-me > .intro > p > .fa-heart {

      color: #e50d0d;
    }

    #main-header > .about-me > .intro > p > .emphasis {

      color: green;
      text-decoration: underline;
    }

@media only screen and (min-width: 720px)  {

  #main-header > .about-me > .intro {

    width: 60%;
    font-size: 115%;
    margin-left: 20%;
  }
} 