body{
  
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
}

#main-header > .about-me {

  box-sizing: border-box;

  padding: 1.25em;
}

  #main-header > .about-me > .name {

    font-family: 'Exo', sans-serif;
    font-size: 1.5em;
  }

  #main-header > .about-me > .title {

    font-family: 'Exo', sans-serif;
    font-size: 1em;
    color: #444;
  }

  #main-header > .about-me > .intro {

    font-family: 'Exo', sans-serif;
    text-align: center;
    width: 85%;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
  }

    #main-header > .about-me > .intro > p {

      margin-top: 1.2em;
      font-size: 1.5em;
      margin-bottom: 0.25em;
    }

    #main-header > .about-me > .intro > p.subtext {

      color: #444;
      font-weight: 900;
      font-size: 1.25em;
      margin-top: .25em;
      font-family: 'Satisfy', cursive;
    }

    #main-header > .about-me > .intro > p > .fa-heart {

      color: #e50d0d;
      font-size: 80%;
      padding: 0 .125em;
    }

    #main-header > .about-me > .intro > p > .emphasis {

      color: green;
      text-decoration: underline;
    }

#experience {

  max-width: 85%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

  #experience > .title {

    font-family: 'Exo', sans-serif;
    font-size: 1.75em;
    margin-bottom: .25em;
  }

  #experience > .subtitle {

    font-family: 'Satisfy', cursive;
    margin-bottom: .75em;
    font-size: 1.25em;
    font-weight: 900;
    color: #444;
  }

  #experience > .filter {

    text-align: center;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
  }

    #experience > .filter > li {

      display: inline-block;
      padding: .375em .5em;
      margin-right: .25em;
      
      margin-bottom: .25em;
      margin-top: .25em;

      font-size: 1em;
      font-family: 'Exo', sans-serif;

      cursor: pointer;
    }

    #experience > .filter > li:hover {

      color: green;
    }

    #experience > .filter > li:last-of-type {

      margin-right: 0;
    }

    #experience > .filter > li.active {

      color: #fff;
      background-color: green;
      border-radius: .5em;

      cursor: inherit;
    }

  #experience > .items {

    margin-top: 1em;
    margin-bottom: 2em;
  }

    #experience > .items > .item {

      width: 95%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 3em;
    }

    #experience > .items > .item:last-of-type {

      margin-bottom: 0;
    }

      #experience > .items > .item.hidden {

        display: none;
      }

      #experience > .items > .item > .header {

        padding-bottom: 1em;
        font-family: 'Exo', sans-serif;
      }

        #experience > .items > .item > .header > .when,
        #experience > .items > .item > .header > .title {

          width: 100%;
        }

        #experience > .items > .item > .header > .when {

          font-size: 1em;
          margin-bottom: .1em;
        }

        #experience > .items > .item > .header > .title {

          font-size: 1.5em;
          margin-bottom: .2em;
        }

        #experience > .items > .item > .header > .tags > li {

          display: inline-block;
          margin-right: 1em;
          color: #555;
        }

        #experience > .items > .item > .header > .tags > li:last-of-type {

          margin-right: 0;
        }

      #experience > .items > .item > .notes {

        font-family: sans-serif;
        padding-left: 1em;
        padding-right: 1em;
      }

      #experience > .items > .item > .notes > p,
      #experience > .items > .item > .notes > ol > li {

        font-family: 'Roboto Condensed', sans-serif;
        margin-bottom: 1.25em;
        line-height: 1.25em;
        color: #444;
      }

      #experience > .items > .item > .notes > ol {

        list-style-type: circle;
        padding-left: 1.25em;
        font-size: 90%;
      }

      #experience > .items > .item > .notes > p:last-of-type {

        margin-bottom: 0;
      }

        #experience > .items > .item > .notes > p > a {

          font-weight: 900;
          color: green;
        }

@media only screen and (min-width: 720px)  {

  #main-header > .about-me {
    
    padding: 2em;
    font-size: 120%;
  }

  #main-header > .about-me > .intro {

    width: 60%;
    margin-left: 20%;
  }

    #main-header > .about-me > .intro > p {    

      margin-top: 1.5em;
    }

    #main-header > .about-me > .intro > p.subtext {    

      margin-top: .25em;
    }

    #experience > .items {

      overflow: hidden;
    }

      #experience > .items > .item {

        width: 40%;
        display: inline-block;
        float: left;
        margin-left: 5%;
        margin-right: 5%;
      }

      #experience > .items > .item:last-of-type {

        margin-bottom: 3em;
      }
} 